ul{
    margin-top: 1%;
}
ul li {
    display: inline;
    list-style:none;
    margin-right: 5%;
    clear: right;
}
#logo {
    display: inline;
    margin-right: 5%;
    margin-bottom: 2%;
    float: left;
    clear: both;
}

body {
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%; 
    text-align:left 
}


#main {
    float: left;
}
#footer {
    float: left;
}
#testimonials{
    float: left;
} 
.btn-primary {
    color: #fff;
    background-color: orange;
    border-color: #0d6efd
}